<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  <!-- mybatis的所有配置也可以配置在spring配置文件的sqlSessionFactoryBean下的property里边
  但是我们一般单独放在一个文件中 -->
  <configuration>
  <settings>
  <setting name="mapUnderscoreToCamelCase" value="true"/>  
  </settings>
  <typeAliases>
  <package name="com.tom.curd.bean"/>
  </typeAliases>
  <plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
        <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
 <!--        <property name="param1" value="value1"/> -->
 		<property name="reasonable" value="true"/>
 
	</plugin>
</plugins>
  </configuration>